@model ma.ViewModel.EditItemViewModel
@{
    ViewData["Title"] = "EditItem";


}

<h2>EditItem</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem" enctype="multipart/form-data">
            <div asp-validation-summary="None" class="text-danger"></div>

            <div class="form-group">

                <input asp-for="Id" class="form-control" />

            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>


            <div id="div-for-image"></div>



            <div class="form-group">
                <label asp-for="AttachmentFile" class="control-label"></label>
                <input asp-for="AttachmentFile" class="form-control" />
                <span asp-validation-for="AttachmentFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-default" />
                <input id="delete-btn" type="button" value="Delete" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <p>Reminder Dates</p>
        <form id="formNumDates" asp-action="SelectReminderDays">
            <select asp-for="SelectNum" asp-items="@Model.NumOfDates">
                <option>Select one number</option>
            </select>
            <input type="submit" value="Set" class="btn btn-default" />
            </form>


        <div id="reminder-div">

        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        /**
 * Add image to the div inside the modal
 * param imgSrc content root path where the image is stored
 */
        function appendImage(imgSrc) {
            var imgElement = document.createElement("img");
            imgElement.setAttribute('src', imgSrc);
            //imgElement.setAttribute('class', "img-fill-parent");

            if (imgSrc.includes(null)) {
                imgElement.setAttribute('alt', '');
            }
            imgElement.setAttribute('id', "img-id");

            var imgdiv = document.getElementById("div-for-image");
            imgdiv.appendChild(imgElement);


            /*
            if (!imgSrc.includes(null)) {
                var btnElement = document.createElement("input");
                btnElement.setAttribute("id", "delete-img-btn");
                btnElement.setAttribute("onclick", "delImgFunction()");
                btnElement.type = "button";
                btnElement.value = "Delete";

                imgdiv.appendChild(btnElement);
            }
            */

        }
        /**
         * Remove the image from DOM */
        function removeImage() {
            var imgElement = document.getElementById("img-id");

            if (imgElement != null) {
                imgElement.parentNode.removeChild(imgElement);
            }
        }

        $(document).ready(function () {

             var editItemResult = '@ViewBag.EditResult';
           if (editItemResult.length > 0) {
            swal(editItemResult);
            }

            $("#formNumDates").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    method: "POST",
                    url: '@Url.Action("SelectReminderDays", "Item")',
                    //dataType: "json",
                    data: $('#formNumDates').serialize(),
                     success: function (result) {
                         $("#reminder-div").html(result);

                    },
                    error: function (xhr, status, error) {

                    }
                });
            });


            $("#delete-btn").click(function () {
                $.ajax({
                    url: '@Url.Action("DeleteOneItem", "Item")',
                    type: "POST",
                    data: { id: '@Model.Id' },
                    success: function (result) {
                        swal(result);
                        setTimeout(function () { location.href="@Url.Action("Index","Item")" }, 1000);

                    },
                    error: function (xhr, status, error) {

                    }
                });
            });


                $.ajax({
                    url:'@Url.Action("GetDataForOneItem", "Item")',
                    type: "GET",
                    data: { id: @Model.Id },
                    success: function (result) {
                        removeImage();
                        appendImage(@Url.Content("~/Attachments/")+result.fileName);

                    },
                    error: function (xhr, status, error) {

                    }
            });




        });
    </script>
}